---
import SocialLinkCard from '@/components/SocialLinkCard.astro';

interface Props {
  title: string;
  socialLinks: Array<{
    name: string;
    url: string;
    icon: string;
  }>;
}

const { title, socialLinks } = Astro.props;

---

<div>
  <h2 class="text-2xl font-bold text-white mb-6">{title}</h2>
  <div class="space-y-4">
    {socialLinks.map((link, index) => (
      <SocialLinkCard link={link.url} icon={link.icon} name={link.name} index={index} />
    ))}
  </div>
</div> 