---
import type { Project } from "@/data/projects";

type Props = Project;

const {link, image, title, techs, description} = Astro.props;

const { lang } = Astro.params;
---

<>
  <a
    href={link}
    target="_blank"
    rel="noopener noreferrer"
    class="group bg-neutral-900/50 backdrop-blur-sm border border-neutral-800 rounded-lg overflow-hidden shadow-lg transition-all duration-300 hover:border-emerald-500/50 hover:shadow-emerald-500/20"
  >
    <!-- <div class="aspect-video bg-neutral-800 relative overflow-hidden">
      <div class="absolute inset-0 bg-gradient-to-br from-emerald-500/20 to-transparent opacity-0 group-hover:opacity-100 transition-opacity duration-300" />
    </div> -->
    <div class="p-6">
      <img src={image} alt={title} class="w-full h-48 object-cover mb-4" />
      <h3 class="text-xl font-bold text-emerald-400 mb-2">{title}</h3>
      <p class="text-neutral-400 mb-4">{description[lang as keyof typeof description]}</p>
      <div class="flex flex-wrap gap-2">
        {techs.map((tech) => (
          <span class="px-3 py-1 bg-neutral-800 text-neutral-300 text-sm rounded-full">
            {tech}
          </span>
        ))}
      </div>
    </div>
  </a>
</>
